<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
</style>
</head>
<body>
    <br>
    <div style="text-align: center; ">
        <form method='POST' action="{% url 'recommend_movie_display' %}">
            <label for="name">Your UserName</label>
            <select id="user_name" name="user_name" style="padding: 10px; background:#edf2ff; border:none;" {% if not reset %} disabled {% endif %}>
                {% for name in data1 %}
                <option value="{{name.uname}}">{{name.uname}}</option>
                {% endfor %}
                <option value='{{name}}' selected>{{name}}</option>
            </select>
            {% csrf_token %}
            <br>
            <br>
            <label for="name">Movie Name</label>
            <select id="movie_name" name="movie_name" style="padding: 10px; background:#edf2ff; border:none;">
                {% for name in data %}
                    <option value="{{name.name}}">{{name.name}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="submit" style ="background-color: #008CBA; padding : 10px">Recommend Movies</button>
            <button type="reset" style ="background-color: #FF0000; padding : 10px" onclick="document.getElementById('user_name').disabled = false;">Reset</button>
            {% comment %} <a href="{% url 'find_movie' %}"></a>  {% endcomment %}
            <input type="hidden" name="reset" value="True">
        </form>
    </div>
</body>
</html>
